.c-header {
  display: grid;
  grid-template-rows: 74px 1fr;
}

.c-header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

.c-header-navigation__logo {
  display: flex;
  align-items: center;
}

.c-header-navigation__logo-image {
  height: 40px;
  width: 120px;
}

.c-header-navigation__logo-arow {
  height: 20px;
  width: 12px;
  margin-right: 16px;
}

.c-header-navigation__logo:hover {
  cursor: pointer;
}

.c-header-navigation__list {
  display: flex;
  align-items: center;
}

.c-header-navigation__list a {
  margin: 24px;
  color: #565656;
  transition: all .2s ease;
}

.c-header-navigation__list a:hover {
  color: #FF9100;
}

.c-header-navigation__list img {
  margin-right: 24px;
  margin-left: 10px;
  transition: all .2s ease;
}

.c-header-navigation__list img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.c-header__description {
  background: #44A9F8;
  text-align: center;
  position: relative;
  z-index: -1;
}

.c-header__description label {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background-color: #FFC20A;
  padding: 4px 8px;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  top: 68px;
}

.c-header__description h1 {
  position: relative;
  top: 110px;
  text-align: center;
  color: white;
}

.c-header__description--teachers {
  background-color: #FFB402;
  height: 256px;
  text-align: center;
  z-index: -1;
}

.c-header__description--teachers__content {
  position: relative;
  top: 64px;
}

.c-header__description--teachers__content p {
  color: white;
  margin-top: 24px;
}

.c-header__map {
  position: relative;
  top: -79px;
  left: 0px;
  z-index: -1;
}
